@font-face {
	font-family: "Cascadia Code";
	src: url("./assets/fonts/CascadiaCode.ttf") format("ttf");
}

@font-face {
	font-family: "Cascadia Mono";
	src: url("./assets/fonts/CascadiaMono.ttf") format("ttf");
}
